<template>
  <header class="static top-0 left-0 w-full flex justify-between items-center min-h-[44px] px-8 py-8 bg-pink-600/90 text-white">
    <div>
      <h1>Header</h1>
    </div>
    <div class="flex items-center">
      <ul class="flex justify-end items-center space-x-4">
        <li>Action 1</li>
        <li>Action 2</li>
        <li>Action 3</li>
      </ul>
    </div>
  </header>
  <main>
    <NuxtPage />
  </main>
  <footer>
    <h3>Footer</h3>
  </footer>
</template>
